/* Font */
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600&display=swap");
/* Colors */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
  font-family: "Raleway", sans-serif;
  padding-left: 16px;
  padding-right: 16px;
  box-shadow: 0 0 34px rgba(152, 163, 207, 0.2);
  height: 60px;
}
.header__title {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.07em;
  text-transform: uppercase;
}
.header__counter {
  color: #98a3cf;
  width: 13px;
  height: 25px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 21px;
  line-height: 25px;
  margin-left: 5px;
}
.header__button {
  width: 40px;
  height: 40px;
  border: none;
  background: none;
  cursor: pointer;
}
.header__button:hover {
  transform: scale(0.95);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#app {
  max-width: 375px;
  height: 755px;
  margin: 1% auto;
  background: #fff;
}

.card__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  margin: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card__front {
  width: 343px;
  height: 147px;
  border-radius: 16px;
  box-shadow: 0 20px 34px rgba(152, 163, 207, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  margin-bottom: 28px;
}
.card__back {
  width: 343px;
  height: 147px;
  border-radius: 16px;
  box-shadow: 0 20px 34px rgba(152, 163, 207, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 28px;
}
.card__input {
  border: none;
  width: 311px;
  font-size: 16px;
  padding: 0 0 8px 15px;
}
.card__input:focus {
  outline: none;
}
.card__input::placeholder {
  font-family: "Raleway", sans-serif;
  color: #1c1c1c;
}
.card__line {
  border-radius: 8px;
  width: 311px;
  height: 1px;
  background: #98a3cf;
}
.card__delete {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 311px;
}
.card__delete--input {
  font-family: "Raleway", sans-serif;
  font-size: 12px;
  color: #98a3cf;
}
.card__delete--icon {
  color: #98a3cf;
  background: none;
  border: none;
  cursor: pointer;
}
.card__delete--button {
  width: 40px;
  height: 40px;
  border: none;
  background: none;
  cursor: pointer;
}
.card__delete--button:hover {
  transform: scale(0.95);
}
.card__buttons {
  display: flex;
  justify-content: space-between;
  padding-top: 14px;
  gap: 91px;
}
.card__buttons--cancel, .card__buttons--back {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "Raleway", sans-serif;
  padding: 8px 12px;
  gap: 10px;
  width: 110px;
  height: 34px;
  background-color: #ffffff;
  border: 1px solid #98a3cf;
  border-radius: 32px;
  color: #98a3cf;
  text-transform: capitalize;
  cursor: pointer;
}
.card__buttons--next, .card__buttons--save {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "Raleway", sans-serif;
  padding: 8px 12px;
  gap: 10px;
  width: 110px;
  height: 34px;
  background-color: #98a3cf;
  border: 1px solid #98a3cf;
  border-radius: 32px;
  color: #ffffff;
  text-transform: capitalize;
  cursor: pointer;
}

.cardlist__container {
  margin: 0 auto;
}

.cardlist__list {
  list-style: none;
}

.card.flipped {
  transform: rotateY(180deg);
}

.card {
  width: 343px;
  height: 147px;
  background: #FFFFFF;
  border-radius: 16px;
  box-shadow: 0 20px 34px rgba(152, 163, 207, 0.3);
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;
  cursor: pointer;
  position: relative;
  transition: transform 0.6s;
  perspective: 1000px;
  transform-style: preserve-3d;
}
.card__edit {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 40px;
  height: 40px;
  background: none;
  border: none;
  cursor: pointer;
}
.card__edit:hover {
  transform: scale(0.95);
}

/*# sourceMappingURL=style.css.map */
